process {
	container = 'floriankaterndahl/geoflow:latest'
}

params {
	input_dir = ""
	input_dirP = ""
	output_dir_indices = ""
	n_cpus_indices = 1
	tx = '61'
	ty = '48'
	s0 = 'S'
	// not entirely sure yet how I want to use these. One idea is to stick to FORCE classificaction and add no further abstraction. Then, bitwise-or them and filter for the resulting number
	// with some flags (e.g. illumination or water vapor), this could mean, that there are multiple values to look for - no?
	// An alternative could be to stay at the bit level and each bit combo of each pixel against the desired (integer or binary representation) -> if medium or better illumination is wanted: filter pixels where the illumination bits, represented as int, are equal or less then one.
	// All in all, this likeley requires a custom python script
	quality_flags = [
		valid_data: 0,
		cloud_state: 0,
		cloud_shadow: 0,
		snow: 0,
		water: 0,
		aerosol_state: 0,
		subzerog: 0,
		saturiation: 0,
		high_sun_zentih: 0,
		illumination_state: 0,
		slope: 0,
		water_vapor: 0,
		empty: 0
	]
}

docker {
	enabled = true
	remove = true
	temp = 'auto'
	fixOwnership = true
}

