process {
	container = 'floriankaterndahl/geoflow:latest'
}

params {
	input_dir = ""
	input_dirP = ""
	output_dir_indices = ""
	n_cpus_indices = 1
	tx = '61'
	ty = '48'
	s0 = 'S'
	// Uncomment every QA-flag, that should be filtered (apart from the last one, which always needs to be uncommented)
	// Currently, this coincides with the default FORCE selection. For further information, see help of 'QAI2bit_mask.py'
	quality_flags = [
        "NODATA",
        "CLOUD_BUFF",
        "CLOUD_OPAQUE",
        "CLOUD_CIRRUS",
        "CLOUD_SHADOW",
        "SNOW",
        //"WATER",
        //"AEROSOL_INTERPOLATED",
        //"AEROSOL_HIGH",
        //"AEROSOL_FILL",
        "SUBZERO",
        "SATURATION",
        //"HIGH_ZENITH",
        //"ILLUMINATION_MEDIUM",
        //"ILLUMINATION_POOR",
        //"ILLUMINATION_SHADOW",
        //"SLOPE",
        //"WATER_VAPOR",
        "EMPTY"
    ]
	quality_cat = quality_flags.join(" ")
}

docker {
	enabled = true
	remove = true
	temp = 'auto'
	fixOwnership = true
}

