directories {
    input_cube = ['/data/input/datacube/**/*{BOA,QAI}.tif']
    lucas_survey = "/data/input/lucas/lucas_harmo_uf_2018.csv"
	lucas_geom = "/data/input/lucas/lucas_geom.gpkg"
	lucas_subset_dir = "/data/output/lucas/subset"
	final_outDir = "/data/output/classification"
}

process {
    container = 'floriankaterndahl/geoflow:latest'
    scratch = true
    executor = 'k8s'
    pod = [nodeSelector: 'geoflow=true', volumeClaim: 'ceph-volume-geoflow', mountPath: '/data']
    cpus = 1

    withLabel: small_memory {
        memory = '3 GB'
    }

    withLabel: medium_memory {
        memory = '7 GB'
    }
}

k8s {
    debug.yaml = true
    namespace = 'katerndahl'
    serviceAccount = 'nextflow'
    workDir = '/data/work/'
    projectDir = '/data/project/'
    imagePullPolicy = 'IfNotPresent'
    launchDir = '/data/launch/'
    runAsUser = 0
    fetchNodeName = true
    queueSize = 300
    podImage = 'fabianlehmann/nextflow:connectionResetFix'
    dsl2 = true
    name = 'geoflow-kubernetes'
    storageClaimName = 'ceph-volume-geoflow'
    storageMountPath = '/data'
    storageSubPath = 'data'
}

report {
    file = '/data/output/meta/report.html'
}

dag {
    file = '/data/output/meta/dag.html'
}

trace {
    file = '/data/output/meta/trace.csv'
}
