params {
    input_cube = ['']
    lucas_survey = ""
	lucas_geom = ""
	lucas_subset_dir = ""
	final_outDir = ""
}

process {
    container = 'floriankaterndahl/geoflow:latest'
    scratch = true
    executor = 'k8s'
    pod.nodeSelector = "geoflow=true"
    cpus = 1

    withLabel: small_memory {
        memory = '3 GB'
    }

    withLabel: medium_memory {
        memory = '7 GB'
    }
}

executor {
    name = 'k8s'
    debug.yaml = true
    namespace = 'katerndahl'
    serviceAccount = 'nextflow'
    workDir = '/data/work/'
    projectDir = '/data/project/'
    imagePullPolicy = 'IfNotPresent'
    launchDir = '/data/launch/'
    runAsUser = 0
    fetchNodeName = true
    queueSize = 300
}
