directories {
    input_cube = "/data/Dagobah/fonda/shk/geoflow/datacube/**/*{BOA,QAI}.tif"
    lucas_survey = "/data/Dagobah/fonda/shk/geoflow/experiment/lucas/lucas_harmo_uf_2018.csv"
    lucas_geom = "/data/Dagobah/fonda/shk/geoflow/experiment/lucas/lucas_geom.gpkg"
    lucas_subset_dir = "/data/Dagobah/fonda/shk/geoflow/output"
    final_outDir = "/data/Dagobah/fonda/shk/geoflow/output/classification"
}

process {
    container = 'floriankaterndahl/geoflow:v0.9.2'
    executor = 'local'
    scratch = true
}

executor {
    name = 'local'
    cpus = '10'
    memory = '200GB'
}

report {
    file = '/data/Dagobah/fonda/shk/geoflow/output/meta/report.html'
}

dag {
    file = '/data/Dagobah/fonda/shk/geoflow/output/meta/dag.dot'
}

trace {
    file = '/data/Dagobah/fonda/shk/geoflow/output/meta/trace.csv'
}
