params {
    input_cube = ['/data/Dagobah/fonda/shk/geoflow/input/**/*{BOA,QAI}.tif']
    lucas_survey = "/data/Dagobah/fonda/shk/geoflow/experiment/lucas/lucas_harmo_uf_2018.csv"
	lucas_geom = "/data/Dagobah/fonda/shk/geoflow/experiment/lucas/lucas_geom.gpkg"
	lucas_subset_dir = "/data/Dagobah/fonda/shk/geoflow/experiment"
	final_outDir = "/data/Dagobah/fonda/shk/geoflow/experiment/classification"
}

process {
    container = 'floriankaterndahl/geoflow:latest'
	executor = 'local'
}

executor {
    name = 'local'
    cpus = '40'
    memory = '200GB'
}

report {
    file = '/data/Dagobah/fonda/shk/geoflow/report.html'
}

dag {
    file = '/data/Dagobah/fonda/shk/geoflow/dag.dot'
}

trace {
    file = '/data/Dagobah/fonda/shk/geoflow/trace.csv'
}
